<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tela_de_Login.Properties.Settings.ProjetoLoginConnectionString"
            connectionString="Data Source=SUPORTETI;Initial Catalog=ProjetoLogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tela_de_Login.Properties.Settings.AgendaConnectionString"
            connectionString="Data Source=DESKTOP-IM6U0AK;Initial Catalog=Agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>